fastapi
uvicorn
pydantic
langchain
langchain-google-genai
langchain-qdrant
langchain-groq
langchain-text-splitters
langchain-community
langchain-huggingface
qdrant-client
streamlit
requests
fastembed
sentence-transformers
tiktoken
mcp
magic-pdf[full]
